.Category-navigation {
    color: var(--font-grey);
    overflow-x: hidden;
}

.navlink-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 10px;
    padding: 20px 0;
    min-width: 1200px;
    overflow-x: hidden;
}


.navlink-container__link a:visited , .navlink-container__link a:link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: color 0.1s ease-in-out;
    font-size: 0.9rem;
}




.navlink-container__link a:hover , .navlink-container__link a:active {
    color: black;
}

