.Button {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 8px;
}

.Button:hover {
    background-color: rgb(59, 241, 59);
}

.facebook-btn {
    background-color: #02cef1;
}