.image-container {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
}

.image-container > img {
    width: auto;
    max-height: 100%;
}

.image-header {
    display: flex;
    height: 50px;
    margin: 10px 20px 0px 20px;
}


.download-button {
    margin-left: auto;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info > div {
    grid-row: span 2;
    height: 100%;
}

.user-info > div > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #adacac;
    border-radius: 5px;
    height: 30px;
    width: 35px;
    font-size: 1.25rem;
    margin-left: 10px;
    cursor: pointer;
}


.actions {
    display: flex;
    margin-left: auto;
}



.download-button  a:link , .download-button  a:hover {
    text-decoration: none;
    color: black;
}

.download-button  a:visited , .download-button  a:active {
    text-decoration: none;
    color: black;
}




.download-button {
    border: 1px solid #adacac;
    height: 30px;
    padding: 5px 15px 0px 15px;
    margin-left: 10px;
    border-radius: 5px;
}